.button
  padding: 11px 24px
  border: none
  border-radius: 2px
  text-transform: uppercase
  font-size: 0.93rem
  &:hover
    cursor: pointer
  &--primary
    background-color: $primary
    color: $light
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    transition: box-shadow 0.2
    &:hover
      box-shadow: none
  &--outline
    border: 1px solid $light
    background-color: transparent
    color: $light
.label
  &--light
    color: rgba($light, 0.5)
    font-size: 1.07rem
.input
    background: transparent
    border: none
    border-bottom: 1px solid rgba($light, 0.15)
    color: $light
    font-size: 1.285rem
    &::placeholder
      color: $light
      font-size: 1.285rem
.policy
  &__checkbox
    opacity: 0
    visibility: hidden
    &:checked +
      .policy__label
        &::before
          background: $primary url('../img/check.svg') no-repeat center / 0.8rem
  &__label
    display: flex
    align-items: center
    &::before
      content: ''
      width: 18px
      height: 18px
      border: 1px solid $primary
      border-radius: 1px
      cursor: pointer
      margin-right: 0.64rem
  .section
  padding: 60px 0 
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    &__heading 
      font-size: 20px
      margin-bottom: 1rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
  &-subtitle
    font-size: 1.428rem
    text-align: center
    line-height: 1.928rem
    color: $grey
    margin-bottom: 2.857rem





    