.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center / cover
  &__wrap
    background-color: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.3rem 4rem
    margin-top: -20rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    color: $light
    font-size: 1.428rem
    text-align: center
    font-style: normal
    font-weight: normal
    margin: 0
    margin-bottom: 3.428rem
  &__form
    display: flex
    flex-wrap: wrap
    margin: 0 9rem
  &__input-group
    display: flex
    flex-direction: column
    flex-basis: 44%
    margin-bottom: 3.5rem
    &--short-width
      margin-right: 4.4rem
    &--full-width
      flex-basis: 100%
      margin-bottom: 2.5rem
  &__input
    padding: 0.1rem 0 0.4rem
  &__policy
    flex-basis: 100%
    color: $light
    margin-bottom: 3.5rem
  &__button
    margin: auto
    padding: 1.5rem 4.5rem 1.2rem
    border-radius: 0
  &__menu
    background-color: $dark
    padding: 4.285rem 0






