.projects
  display: flex
  justify-content: space-between
  align-items: start
  &__content
    width: 31.57rem

.block
  display: flex
  flex-wrap: wrap
  max-width: 31.57rem
  &__item
    margin-right: 3rem
    margin-bottom: 2.428rem
    &--city
      margin-right: 7.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 1.285rem
    color: $primary
    margin: 0
    margin-bottom: 0.642rem
  &__subtitle
    font-size: 1.07rem
    color: $light
    line-height: 1.428rem